<div class="container">
    <h1 class="text-secondary">{{title}}</h1>
    <form method="get">
        <label class="text-secondary" for="typeInput">Event Type</label>
        <select id="typeInput" name="type">
            <option value="all">All</option>
            <option value="workshop">workshop</option>
            <option value="meetup">meetup</option>
            <option value="seminar">seminar</option>
        </select>
        <label class="text-secondary" for="statusInput">Status</label>
        <select id="statusInput" name="status">
            <option value="all">All</option>
            <option value="true">Open</option>
            <option value="false">Sold Out</option>
        </select>
        <button type="submit">Filter</button>
    </form>
    <ul>
        {{#each eventItems}}
            <li class="card text-secondary">
                <h3 >{{title}}</h3>
                <p>{{type}}</p>
                {{#if open}}
                    <p>Available</p>
                {{else}}
                    <p>Sold Out</p>
                {{/if}}
                {{#if date}}
                    <p>Closes in {{date}} days</p>
                {{else}}
                    <p>Already Closed!</p>
                {{/if}}
                <p>{{description}}</p>
            </li>
        {{/each}}
    </ul>


    <ul class="pagination">
        <li class="page-item">
            {{#if prev}}<a class="page-link" href="{{prev}}{{filterParams}}" aria-label="Previous" >
                <span aria-hidden="true" class="text-secondary">&laquo;</span>
            </a>{{/if}}
        </li>
        <li class="page-item"><a class="page-link text-secondary" href='?page=1{{filterParams}}'>1</a></li>
        <li class="page-item"><a class="page-link text-secondary" href="?page=2{{filterParams}}">2</a></li>
        <li class="page-item"><a class="page-link text-secondary" href="?page=3{{filterParams}}">3</a></li>
        <li class="page-item">
            {{#if next}}<a class="page-link" href="{{next}}{{filterParams}}" aria-label="Next">
                <span aria-hidden="true" class="text-secondary">&raquo;</span>
            </a>{{/if}}
        </li>
    </ul>
</div>