<h2 class="text-secondary">{{title}}</h2>
{{#if completed}}
    <ul>
        <li class="text-secondary">{{name}}</li>
        <li class="text-secondary">{{email}}</li>
        <li class="text-secondary">{{phone}}</li>
        <li class="text-secondary">{{position}}</li>
        <li class="text-secondary">
            <embed src="{{file}}" type="application/pdf">
        </li>
    </ul>
{{else}}
    <form method="post" id="career-form" enctype="multipart/form-data" class="needs-validation">
        <div id="nameField">
            <label for="nameInput" class="text-secondary form-label">Name:</label>
            <input type="text" name="nameInput" id="nameInput" required placeholder="John Doe" class="form-control"/>
        </div>
        <div id="emailField">
            <label for="emailInput" class="text-secondary form-label">Email:</label>
            <input type="email" name="emailInput" id="emailInput" placeholder="email@domain" required  class="form-control"/>
            {{#if emailMessage}}
                <div>{{emailMessage}}</div>
            {{/if}}
        </div>
        <div id="phoneField">
            <label for="phoneInput" class="text-secondary form-label">Phone:</label>
            <input type="text" name="phoneInput" id="phoneInput"
                   required  placeholder="###-###-####" class="form-control"/>
            {{#if phoneMessage}}
                <div>{{phoneMessage}}</div>
            {{/if}}
        </div>
        <div id="positionField">
            <label for="positionInput" class="text-secondary form-label">Position:</label>
            <input type="text" name="positionInput" id="positionInput" required class="form-control"/>
        </div>
        <div id="uploadField">
            <label for="uploadFile" class="text-secondary form-label">Upload Resume:</label>
            <input type="file" name="uploadFile" id="uploadFile" required  class="form-control text-secondary"/>
        </div>
        <div id="buttons" class="container m-3">
            <button type="submit" class="btn btn-primary btn-large">Submit</button>
            <button type="button" class="btn btn-primary btn-large btn-danger">Clear</button>
        </div>
    </form>
{{/if}}
